<div class="form-group">
   <label for="exampleInputEmail1">Consulta</label>
   <input type="text" class="form-control" id="consulta" name="consulta" placeholder="Escriba su consulta SQL">
</div>
<button id="botonconsulta" class="btn btn-default"> Realizar Consulta</button>
<div class="panel panel-default" style="margin-top: 50px; !important; overflow: auto;">
   <div class="panel-heading">
      <h3 class="panel-title">Resultados</h3>
   </div>
   <div class="panel-body">
      <span id="resultados">
      </span>
   </div>
</div>